---
import { ServiceCard } from "../ServiceCard";

interface Service {
  title: string;
  description: string;
  features: string[];
  icon: any;
}

interface Props {
  title: string;
  subtitle: string;
  services: Service[];
}

const { title, subtitle, services } = Astro.props;
---

<section class="bg-zinc-950 relative border-y border-white/5">
  <div class="max-w-6xl mx-auto px-4 py-24 relative z-10">
    <div class="text-center mb-16">
      <h2 class="text-3xl md:text-4xl font-bold text-white mb-4">
        {title}
      </h2>
      <p class="text-zinc-400 max-w-2xl mx-auto text-lg">
        {subtitle}
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        services.map((service) => (
          <ServiceCard
            title={service.title}
            description={service.description}
            features={service.features}
            icon={service.icon}
          />
        ))
      }
    </div>
  </div>
</section>
